@import "./_variables";

.infoBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 270px;
  background: $balooneColor;
  border-radius: 50%;
  z-index: 20;

  &:after {
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -30px;
    content: '';
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $balooneColor;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 1px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
  }
}

.InfoBox-content {
  color: white;
  padding: 0 20px;

  > .Button {
    border-radius: 0;
    background-color: $darkOrange;
    border: 1px solid $darkOrange;
    line-height: 40px;
    font-family: "News Gothic Condensed Bold",sans-serif;
    font-size: 16px;

    &:hover {
      border: 1px solid white;
      background: transparent;
    }
  }
}

.InfoBox-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

.InfoBox-subheader {
  text-transform: capitalize;
  color: #ab7422;
}

.infoBox-white .InfoBox-subheader {
  color: $darkGreen;
}

.InfoBox-body {
  margin-bottom: 15px;
  max-width: 240px;
  p {
    font-size: 13px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.infoBox-white {
  background: #fff !important;

  .InfoBox-content {
    color: $balooneColor;
  }

  &:after {
    border-top: 30px solid #fff !important;
  }

  .InfoBox-content {
    color: $balooneColor !important;

    > .Button {
      background-color:  #e29f35 !important;
      border: 1px solid #e29f35 !important;
      color: #fff !important;

      &:hover {
        border: 1px solid $balooneColor !important;
        background-color: #fff !important;
        color: #e29f35 !important;
      }
    }
  }
}
